@import '../node_modules/bootstrap/scss/bootstrap';

* {
    color: white;
    scroll-behavior: smooth;
}

.transparent-bg {
    background: transparent;
}

.nav-link{
    margin-top: 5px;
    font-size: 1.25rem;
}

.nav-btn {
    font-size: 1.1rem;
}

.landing {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background-image: url(../assets/gradient-background.svg);
    background-position: 100% 100%;
    background-size: 200%;

    .heading {
        text-align: center;
        height: 75vh;

        span {
            font-style: italic;
        }

        .heading-btn {
            min-width: 10vw;
            margin-top: 1.5rem;
            font-size: 1.5rem;
        }
    }

    @keyframes animateBg {

        0%,
        100% {
            background-position: 0% 100%;
        }

        25%,
        75% {
            background-position: 30% 50%;
        }

        50% {
            background-position: 100% 25%;
        }
    }

    animation: 15s linear 0s infinite normal none running animateBg;
}


.section {
    min-height: 30vh;
    padding: 3.25rem 2rem;
    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 3.25rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }
    
    p {
        font-family: Roboto, sans-serif;
        color: #99AAB5;
    }
}

.about {
    background-color: #23272A;
}

.features{
    background-color: #2C2F33;
}

.feature-box {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #23272A;
    padding: 1.75rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}

.feature-box:hover {
    transform: scale(1.04);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}



@media (max-width: 1130px) {
    /* Adds responsiveness with gradient background */
    .landing {
        background-size: cover;
    }
}